body {
    font-family: Arial, Helvetica, sans-serif;
}

#main {
    margin: 5%;
    padding-left: 10%;
}

#task-list, #group-list {
    width: 90%;
}

.header {
    display: flex;
}

.task-list {
    flex-direction: row;
    flex-wrap: nowrap;
}

#task-list-title {
    flex: 6;
}

#return-button {
    border: none;
    color: dodgerblue;
    flex: 1;
    font-size: 14px;
    height: 20px;
    min-width: 100px;
    position: relative;
    padding-right: 0px;
    top: 26px;
}

ul {
    list-style: none;
    list-style-position: inside;
    padding-left: 0px;
}​

li {
    list-style-type: disc;
}

.list-item {
    background-repeat: no-repeat;
    background-position: 0px 50%;
    background-size: 14px;
    border-top: 1px solid lightgrey;
    font-weight: bold;
    padding: 30px;
}

.group {
    background-image: url('https://whitneyseiler.github.io/react-task-list/client/dist/assets/Group.svg');
    background-size: 6px;
    padding: 21px 30px;
}

.completed-count {
    color: grey;
    font-size: 12px; 
    font-weight: normal;
}

.completed {
    background-image: url('https://whitneyseiler.github.io/react-task-list/client/dist/assets/Completed.svg');
    text-decoration: line-through;
}

.incomplete {
    background-image: url('https://whitneyseiler.github.io/react-task-list/client/dist/assets/Incomplete.svg');
}

.locked {
    background-image: url('https://whitneyseiler.github.io/react-task-list/client/dist/assets/Locked.svg');
    background-size: 10px;
}